{% extends 'simple_bugs/base.html' %}
{% block extrahead %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'simple_bugs/css/sidebar.css' %}">
{% endblock %}
{% block outside_container %}
<a id="history-toggle" href="#" class="btn btn-info btn-sm"><span class="fa fa-clock-o fa-lg fa-fw"></span></a>
<div id="sidebar-wrapper">
<h5 id="change_log_title">Change Log</h5>
<table id="change-history" class="table table-bordered table-striped table-hover">
<thead>
    <tr class="active">
        <th scope="col">
            Date/time
        </th>
        <th scope="col">
            Comment
        </th>
        <th scope="col">
            Changed by
        </th>
    </tr>
</thead>
<tbody>
{% for action in requirement.history.all %}
    <tr class="info">
        <td>
            {{ action.history_date }}
        </td>
        <td>
            {{ action.get_history_type_display }}
        </td>
        <td>
            {% if action.history_user %}
                <a href="{% url 'simple_bugs:profile' action.history_user %}">{{ action.history_user }}</a>
            {% elif action.get_history_type_display == "Created" %}
                <a href="{% url 'simple_bugs:profile' requirement.user %}">{{ requirement.user }}</a>
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div><a id="mail-toggle" href="#" class="btn btn-default btn-sm"><span class="fa fa-envelope fa-lg fa-fw"></span></a>
<div id="sidebar-mail-wrapper">

</div>
{% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1 class="page-header">{{ requirement.title|capfirst }}</h1>
</div>
</div>
<div class="row">
<div class="col-sm-10">
    <div class="well well-lg">
    {{ requirement.detail|safe }}
    </div>
</div>
<div class="col-lg-2">
{% if requirement.working_on %}
<div class="">
  <div class="">
    <h3 class="panel-title">Users working on Requirement</h3>
  </div>
  <div class="">
    {% for user in requirement.working_on.all %}
        <a class="btn btn-primary btn-xs" href="{% url 'simple_bugs:profile' user.username %}"> <span>{{ user.username }}</span></a>
    {% endfor %}
  </div>
</div>
{% endif %}
</div>
</div>
<div class="row">
<div class="col-sm-6">
    <a class="btn btn-primary" href="{% url 'simple_bugs_requirements:requirement_cases' requirement.id requirement.slug  %}">Related Cases <span class="badge">{{ requirement.case_set.count }}</span> </a>
    <a class="btn btn-default" href="{% url 'simple_bugs_requirements:requirement_update' requirement.id requirement.slug %}">Update</a>
</div>
</div>
{% endblock %}
{% block js %}
    <script>
    $("#mail-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-mail-wrapper").toggleClass("active");
        $("#mail-toggle").toggleClass("active");
    });
    </script>
    <script>
    $("#history-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        $("#history-toggle").toggleClass("active");
    });
    </script>
{% endblock %}