{% verbatim %}
<form>
  <fieldset>
    <div>
        <div>{{ error.type }}</div>
      <label>Type</label>
      <select class="select form-control" ng-init="formData.type = options[0]" ng-model="formData.type">
          <option selected="selected" value="BUG">Bug</option>
          <option value="FEATURE_REQUEST">Feature Request</option>
      </select>
      <label>Title</label>
      <input class="form-control" type='text' ng-model="formData.title"/>
      <label for="id_detail">Detail</label>
      <textarea id="id_detail" class="form-control" type='text' ng-model="formData.detail"></textarea>
    </div>
      <button type='submit' class="btn btn-primary" ng-click="save()">Save</button>
  </fieldset>
</form>
{% endverbatim %}
{% load wysiwyg %}
    {% wysiwyg_editor 'id_detail' %}