{% extends 'simple_bugs/base.html' %}
{% block extrahead %}
{% load staticfiles wysiwyg %}{% wysiwyg_setup %}
<link rel="stylesheet" href="{% static 'simple_bugs/css/sidebar.css' %}">
{% endblock %}
{% block outside_container %}
<a id="history-toggle" href="#" class="btn btn-info btn-sm"><span class="fa fa-clock-o fa-lg fa-fw"></span></a>
<div id="sidebar-wrapper">
<h5 id="change_log_title">Change Log</h5>
<table id="change-history" class="table table-bordered table-striped table-hover">
<thead>
    <tr class="active">
        <th scope="col">
            Date/time
        </th>
        <th scope="col">
            Comment
        </th>
        <th scope="col">
            Changed by
        </th>
    </tr>
</thead>
<tbody>
{% for action in case.history.all %}
    <tr class="info">
        <td>
            {{ action.history_date }}
        </td>
        <td>
            {{ action.get_history_type_display }}
        </td>
        <td>
            {% if action.history_user %}
                <a href="{% url 'simple_bugs:profile' action.history_user %}">{{ action.history_user }}</a>
            {% elif action.get_history_type_display == "Created" %}
                <a href="{% url 'simple_bugs:profile' case.user %}">{{ case.user }}</a>
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
<a id="mail-toggle" href="#" class="btn btn-default btn-sm"><span class="fa fa-envelope fa-lg fa-fw"></span></a>
<div id="sidebar-mail-wrapper">
<h3>Messaging System Coming soon  :)</h3>
</div>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-lg-12">
<h1 class='page-header'>{{ case.title|capfirst }} <small>{{ case.get_type_display }}</small></h1>
</div>
</div>
<div class="row">
<div class="col-lg-8">
    <div class="well well-lg">
    {{ case.detail|safe }}
    </div>
</div>
    <div class="col-lg-4">

        <a class="btn btn-sm btn-primary" href="{% url 'simple_bugs_cases:case_update' case.id case.slug %}">Update</a>
        <a class="btn btn-sm btn-info" href="#">Add Estimate</a>

        {% for estimate in estimate_list %}
            <h5>{{ estimate.get_type_display }} Estimate: {{ estimate.estimate_formatted }}</h5>
            <p class="small">User: {{ estimate.user }}</p>
            <div class="progress">
                        {% if estimate.progress > 100 %}
                            <div class="progress-bar progress-bar-danger" style="width:100%">Over Estimate</div>
                        {% else %}
                            <div class="progress-bar progress-bar-info" style="width:{{ estimate.progress }}%">{{ estimate.remaining_time }} remaining</div>
                        {% endif %}
            </div>
        {% endfor %}
    </div>

</div>
<div class="row">

</div>
<div class="row">
<div class="col-lg-12">
    <h2 class="text-center">Discussions <i class="fa fa-comments"></i> </h2>
</div>
<div class="col-lg-12">
    {% load comments crispy_forms_filters %}
    {% render_comment_list for case %}
    {% get_comment_form for case as form %}
<form action="{% comment_form_target %}" method="post">
<table>
    {% csrf_token %}
    {{ form.comment|as_crispy_field }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <tr>
      <td colspan="2">
        <input class="btn btn-primary" type="submit" name="submit" value="Post">
        <input type="hidden" name="next" value="{% url 'simple_bugs_cases:case_detail' case.id case.slug %}" />
      </td>
    </tr>
</table>
</form>
</div>
</div>
    {% wysiwyg_editor 'id_comment' %}
{% endblock %}
{% block js %}
    <script>
    $("#mail-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-mail-wrapper").toggleClass("active");
        $("#mail-toggle").toggleClass("active");
    });
    </script>
    <script>
    $("#history-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        $("#history-toggle").toggleClass("active");
    });
    </script>
{% endblock %}