{% extends 'simple_bugs/base.html' %}
{% block content %}
<div class="row">
<div class="col-lg-12">
<h1 class='page-header'>{{ case.title|capfirst }} <small>{{ case.get_type_display }}</small></h1>
</div>
</div>
<div class="row">
<div class="col-lg-12">
    {{ case.detail|safe }}
</div>
</div>
<div class="row">
    <div class="col-lg-4">
        <a class="btn btn-default" href="{% url 'simple_bugs:case_update' case.id %}">Update</a>
    </div>
</div>
<div class="row">
<div class="col-lg-4">
    <h2>Comments <i class="fa fa-comments"></i> </h2>
</div>
<div class="col-lg-12">
    {% load comments crispy_forms_filters %}
    {% render_comment_list for case %}
    {% get_comment_form for case as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form.comment|as_crispy_field }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <tr>
      <td colspan="2">
        <input class="btn btn-primary" type="submit" name="submit" value="Post">
        <input type="hidden" name="next" value="{% url 'simple_bugs:case_detail' case.id %}" />
      </td>
    </tr>
  </form>
</table>

</div>
</div>
{% endblock %}