{% extends 'base.html' %}
{% block content %}
<table class="table">
<thead>
<tr>
    <th>
        Type
    </th>
    <th>
        Title
    </th>
    <th>
        Relation
    </th>
    <th>
        Date Created
    </th>
    <th>
        Date Updated
    </th>
</tr>
</thead>
<tbody>
{% for case in case %}
<tr>
<td>
    {{ case.type }}
</td>
<td>
    <a href="{% url 'simple_bugs:case_detail' case.id %}">{{ case.title }}</a>
</td>
<td>
    {% if case.requirement %}
    <a href="{% url 'simple_bugs:requirement_detail' case.requirement.id %}">{{ case.requirement.title }}</a>
    {% else %}
    None
    {% endif %}
</td>
<td>
    {{ case.created_on }}
</td>
<td>
    {{ case.updated_on }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}