{% extends 'simple_bugs/base.html' %}
{% block content %}
<h1 class="page-header">Cases</h1>
<table class="table">
<thead>
<tr>
    <th>
        Type
    </th>
    <th>
        Title
    </th>
    <th>
        Relation
    </th>
    <th>
        Date Created
    </th>
    <th>
        Date Updated
    </th>
</tr>
</thead>
<tbody>
{% for case in case %}
<tr>
<td>
    {% if case.type == 'BUG' %}
    <i class="fa fa-bug fa-lg fa-fw"></i>
    {% elif case.type == 'FEATURE_REQUEST' %}
    <i class="fa fa-lightbulb-o fa-lg fa-fw"></i>
    {% endif %}
</td>
<td>
    <a href="{% url 'simple_bugs:case_detail' case.id %}">{{ case.title }}</a>
</td>
<td>
    {% if case.requirement %}
    <a href="{% url 'simple_bugs:requirement_detail' case.requirement.id %}">{{ case.requirement.title }}</a>
    {% else %}
    None
    {% endif %}
</td>
<td>
    {{ case.created_on }}
</td>
<td>
    {{ case.updated_on }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-primary" href="{% url 'simple_bugs:case_create' %}">Add Case</a>
{% endblock %}