{% extends 'simple_bugs/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
<div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<h2>Bugs</h2>
<table class="table">
<thead>
<tr>
    <th>
        Title
    </th>
    <th>
        Created On
    </th>
</tr>
</thead>
<tbody>
{% for case in recent_bugs %}
<tr>
    <td>
        <a href="{% url 'simple_bugs:case_detail' case.id %}">{{ case.title }}</a>
    </td>
    <td>
        {{ case.created_on }}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="col-lg-6">
<h2>Feature Requests</h2>
<table class="table">
<thead>
<tr>
    <th>
        Title
    </th>
    <th>
        Created On
    </th>
</tr>
</thead>
<tbody>
{% for case in recent_features %}
<tr>
    <td>
        <a href="{% url 'simple_bugs:case_detail' case.id %}">{{ case.title }}</a>
    </td>
    <td>
        {{ case.created_on }}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% else %}
    <div class="row">
    <div class="col-lg-12">
    <a href="/accounts/login/"><h1>Please Login</h1></a>
    </div>
    </div>

{% endif %}

{% endblock %}