{% extends 'simple_bugs/base.html' %}
{% block content %}
<h1 class="page-header">Related Cases</h1>
<table class="table">
<thead>
<tr>
    <th>
        Type
    </th>
    <th>
        Title
    </th>
    <th>
        Date Created
    </th>
</tr>
</thead>
<tbody>
{% for case in requirement.case_set.all %}
<tr>
    <td>
    {% if case.type == 'BUG' %}
    <i class="fa fa-bug fa-lg"></i>
    {% elif case.type == 'FEATURE_REQUEST' %}
    <i class="fa fa-lightbulb-o fa-lg"></i>
    {% endif %}
    </td>
    <td>
        <a href="{% url 'simple_bugs:case_detail' case.id %}">{{ case.title }}</a>
    </td>
    <td>
        {{ case.created_on }}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}