{% extends 'simple_bugs/base.html' %}
{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1 class="page-header">{{ requirement.title|capfirst }}</h1>
</div>
</div>
<div class="row">
<div class="col-sm-12">
    <div class="well well-lg">
    {{ requirement.detail|safe }}
    </div>
</div>
</div>
<div class="row">
<div class="col-lg-offset-4 col-lg-4">
{% if requirement.working_on %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Users working on Requirement</h3>
  </div>
  <div class="panel-body">
    {% for user in requirement.working_on.all %}
        <a href="{% url 'simple_bugs:profile' user.username %}"><span class="label label-primary"> {{ user.username }}</span></a>
    {% endfor %}
  </div>
</div>
{% endif %}
</div>
</div>
<div class="row">
<div class="col-sm-4">
    <a class="btn btn-primary" href="{% url 'simple_bugs:requirement_cases' requirement.id requirement.slug  %}">Related Cases <span class="badge">{{ requirement.case_set.count }}</span> </a>
    <a class="btn btn-default" href="{% url 'simple_bugs:requirement_update' requirement.id requirement.slug %}">Update</a>
</div>
</div>

{% endblock %}