{% extends 'simple_bugs/base.html' %}
{% block outside_container %}
<a id="history-toggle" href="#" class="btn btn-info btn-sm"><span class="fa fa-clock-o fa-lg fa-fw"></span></a>
<div id="sidebar-wrapper">
<h5 id="change_log_title">Change Log</h5>
<table id="change-history" class="table table-bordered table-striped table-hover">
<thead>
    <tr class="active">
        <th scope="col">
            Date/time
        </th>
        <th scope="col">
            Comment
        </th>
        <th scope="col">
            Changed by
        </th>
    </tr>
</thead>
<tbody>
{% for action in requirement.history.all %}
    <tr class="info">
        <td>
            {{ action.history_date }}
        </td>
        <td>
            {{ action.get_history_type_display }}
        </td>
        <td>
            {% if action.history_user %}
                <a href="{% url 'simple_bugs:profile' action.history_user %}">{{ action.history_user }}</a>
            {% elif action.get_history_type_display == "Created" %}
                <a href="{% url 'simple_bugs:profile' requirement.user %}">{{ requirement.user }}</a>
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div><a id="mail-toggle" href="#" class="btn btn-default btn-sm"><span class="fa fa-envelope fa-lg fa-fw"></span></a>
<div id="sidebar-mail-wrapper">

</div>
{% endblock %}
{% block content %}
<style type="text/css">
#sidebar-wrapper {
  margin-right: -300px;
  margin-top: 50px;
  right: 0;
  width: 300px;
  background: #000;
  opacity: 0.8;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper.active {
  right: 300px;
  width: 300px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-mail-wrapper {
  margin-right: -300px;
  margin-top: 50px;
  right: 0;
  width: 300px;
  background: #000;
  opacity: 0.8;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#sidebar-mail-wrapper.active {
  right: 300px;
  width: 300px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#history-toggle {
  top: 50px;
  right: 0;
  position: fixed;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#history-toggle.active {
  right: 300px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

}

#mail-toggle {
  top: 90px;
  right: 0;
  position: fixed;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#mail-toggle.active {
  right: 300px;
  top: 50px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

}

#change_log_title {
  text-align: center;
  color: white;
}

.toggle {
  margin: 5px 5px 0 0;
}
</style>
<div class="row">
<div class="col-sm-12">
    <h1 class="page-header">{{ requirement.title|capfirst }}</h1>
</div>
</div>
<div class="row">
<div class="col-sm-12">
    <div class="well well-lg">
    {{ requirement.detail|safe }}
    </div>
</div>
</div>
<div class="row">
<div class="col-lg-offset-4 col-lg-4">
{% if requirement.working_on %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Users working on Requirement</h3>
  </div>
  <div class="panel-body">
    {% for user in requirement.working_on.all %}
        <a href="{% url 'simple_bugs:profile' user.username %}"><span class="label label-primary"> {{ user.username }}</span></a>
    {% endfor %}
  </div>
</div>
{% endif %}
</div>
</div>
<div class="row">
<div class="col-sm-6">
    <a class="btn btn-primary" href="{% url 'simple_bugs:requirement_cases' requirement.id requirement.slug  %}">Related Cases <span class="badge">{{ requirement.case_set.count }}</span> </a>
    <a class="btn btn-default" href="{% url 'simple_bugs:requirement_update' requirement.id requirement.slug %}">Update</a>
</div>
</div>
{% endblock %}
{% block js %}
    <script>
    $("#mail-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-mail-wrapper").toggleClass("active");
        $("#mail-toggle").toggleClass("active");
    });
    </script>
    <script>
    $("#history-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        $("#history-toggle").toggleClass("active");
    });
    </script>
{% endblock %}