{% extends 'simple_bugs/base.html' %}
{% block extrahead %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'simple_bugs/chosen/chosen.min.css' %}">
    {% load wysiwyg %}{% wysiwyg_setup %}
{% endblock %}
{% block content %}
    {% load crispy_forms_filters %}
<div class="row">
<div class="col-lg-8">
    <div class="well">
    <form role="form" action="{% url 'simple_bugs:requirement_create' %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Create A New Requirement</legend>
            {{ form|crispy }}
        </fieldset>
        <input class="btn btn-primary" type="submit">
    </form>
    </div>
</div>
<div class="col-lg-4">
<table class="table">
    <thead>
    <tr>
        <th>
            Related Requirements
        </th>
    </tr>
    </thead>
    <tbody>
    {% for requirement in requirement %}
    <tr>
        <td>
            <a href="{% url 'simple_bugs:requirement_detail' requirement.id %}">{{ requirement.title }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tbody>

    </tbody>
</table>
</div>
</div>
{% wysiwyg_editor 'id_detail' %}
{% endblock %}
{% block js %}
    <script src="{% static 'simple_bugs/chosen/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript">$("#id_working_on").chosen()</script>
{% endblock %}