{% extends 'base.html' %}
{% block content %}

    <div ng-view class="case"></div>

{% endblock %}
{% block js %}

    <script type="text/javascript">
	var scotchApp = angular.module('scotchApp', ['ngRoute', 'ngAnimate']);

	// configure our routes
	scotchApp.config(function($routeProvider, $locationProvider) {
		$routeProvider

			// route for the home page
			.when('/', {
				templateUrl : '/socool/pages/list',
				controller  : 'PostsCtrlAjax'
			})

			// route for the about page
			.when('/detail/:caseId', {
				templateUrl : '/socool/pages/detail',
				controller  : 'CaseDetail'
			})

            //route for new page
            .when('/new', {
                templateUrl : '/socool/pages/new',
                controller : 'CaseNew'
            });
       // $locationProvider.html5Mode(true);
	});

function CaseDetailResource($scope, $resource) {
    var Case = $resource('/api/cases/:id');
    Case.get({id: 7}, function(caseDetail) {
        $scope.case_detail = caseDetail;
    });
}

function CaseDetail($scope, $routeParams, $http) {
    $http.get('/api/cases/' + $routeParams.caseId).success(function(data){
        $scope.case_detail = data;
    });
}

function CaseNew($scope, $http) {
    $scope.formData = {};
    $scope.formData.closed = false;
	$scope.save = function() {
		$http.post('/api/cases/', $scope.formData)
			.success(function(data) {
				$scope.formData = {}; // clear the form so our user is ready to enter another
				$scope.todos = data;
				console.log(data);
			})
			.error(function(data) {
				console.log('Error: ' + data);
                    $scope.error = data
			});
	};
}

function PostsCtrlAjax($scope, $http)
{
$http({method: 'GET', url: '/api/cases/'}).success(function(data, status)
{
$scope.cases = data; // response data
$scope.status = status;
});
}
    </script>
{% endblock %}